.hero {
    height: 500px;
    display: flex;
    justify-content: center;
    padding-block: 40px;
    @media(max-width: 900px){
        padding-block: 20px;
        height: 600px;
    }
    h1 {
        text-align: center;
        //width: 50%;
        font-size: 90px;
        letter-spacing: 0.12em;

        @media(max-width: 900px){
            width: 80%;
            font-size: 50px;
            text-align: left;
            line-height: 1;
        }
    }
    .left-img {
        position: absolute;
        height: 500px;
        top: 25%;
        left: 35%;
        z-index: -1;
        opacity: .6;    
        //display:none;
        @media(max-width: 900px){
            top: 60%;
            left: 60%;
            height: 300px;
        }
    }
    .right-img {
        position: absolute;
        height: 350px;
        right: 0;
        top: 30%;
        display:none;
    }
}